**/.DS_Store
**/.idea
**/.vscode
**/.vscode/**
**/.vscode/**/**
**/.vscode/**/**/**
**/target
**/node_modules
**/node_modules/**
**/node_modules/**/**
**/node_modules/**/**/**
**/node_modules/**/**/**/**
